body {
    display: relative;
    width: auto;
    height: auto;
    padding: 0;
    border: 0;
    margin: 0;  
}

#container {
    width: 725px;
    height: auto;
    /*border: 1px solid red;*/
    margin: auto;
}

.file_ext_input {
    width: 250px;
}